.App {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: lightgrey;
}

.App-title {
  font-size: 3em;
}

.App-toolbar {
  display: flex;
  flex-direction: row;
}

.DateRange-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no;
}

.App-body {
  height: 80vh;
}

.Chart {
  height: 100vh;
  width: 100vw;
}

.PlantList-select {
  width: 10vw;
  min-width: 10vw;
}

.DeviceList-select {
  width: 10vw;
  min-width: 10vw;
}
